@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
* {
	font-family: 'Space Grotesk', sans-serif;
}

/* Variables */
:root {
	--base-font-size: 12px;
	--fluid-typography-ratio: 0.5;
	--rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
	font-size: var(--rem);
}

.theme-light {
	--black: #000000;
	--white: #ffffff;
	--almost-black: #121212;
	--almost-white: #f2f2f2;
	--kinda-grey: #6a6d77;
}

.theme-dark {
	--black: #ffffff;
	--white: #121212;
	--almost-black: #f2f2f2;
	--almost-white: #000000;
	--kinda-grey: #a1a3ab;
}

/* General Styling */
html {
	background-color: var(--almost-white);
}

body {
	padding: 5vw 10vw;
	max-width: 1200px;
	margin: 0 auto;
	color: var(--black);
}

h1 {
    font-size: 1.6rem;
    font-weight: 400;
}

h2 {
	font-size: 1.4rem;
	font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3 {
	font-size: 1.2rem;
	font-weight: 700;
	/* margin: 0.5rem 0; */
}

p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--kinda-grey);
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	max-width: 75%;
}

footer {
	margin-top: 5rem;
	text-align: left;
}

.socials {
	display: flex;
	gap: 1rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	padding: 1rem;
	width: 10rem;
}

.button:hover {
	outline: 2px dashed var(--kinda-grey);
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
}

.grid-item {
    background-color: var(--white);
    height: calc(100% - 2rem);
    padding: 1rem;
    transition: all .3s ease-in-out;
    display: block; /* check if needed */

    position: relative;
    overflow: hidden;
}

.grid-item:hover {
    /* transform: translateY(-5px); */
}

.grid-item-socials {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    grid-auto-rows: auto;
    
}

.grid-item-cover {
    padding: 10px;
    position: absolute;
    bottom: -30px;
    transition: all 0.5s ease;
}

.grid-item-cover h3 {
    margin-bottom: 1em;
}

.grid-item:hover .grid-item-cover {
    background-color: rgba(255,255,255,0.9);
    bottom: 0;
}

.grid img {
    height: auto;
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}

.fa-brands,
.fa-regular {
	margin-right: 0.5rem;
}

#theme-toggle {
	float: right;
	cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 600px) {
	body {
		padding: 5vw 5vw;
	}
	header {
		max-width: 100%;
	}
	.socials {
		flex-wrap: wrap;
	}
	.button {
		width: 100%;
	}
	footer {
		text-align: center;
	}
}
