@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
* {
	font-family: 'Space Grotesk', sans-serif;
}

/* Variables */
:root {
	--base-font-size: 12px;
	--fluid-typography-ratio: 0.5;
	--rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
	font-size: var(--rem);
}

.theme-light {
	--black: #000000;
	--white: #ffffff;
	--almost-black: #121212;
	--almost-white: #f2f2f2;
	--kinda-grey: #6a6d77;
}

.theme-dark {
	--black: #ffffff;
	--white: #121212;
	--almost-black: #f2f2f2;
	--almost-white: #000000;
	--kinda-grey: #6a6d77;
}

/* General Styling */
html {
	background-color: var(--almost-white);
}

body {
	padding: 5vw 10vw;
	max-width: 1200px;
	margin: 0 auto;
	color: var(--black);
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
}

h3 {
	font-size: 1.2rem;
	font-weight: 700;
	margin: 0.5rem 0;
}

p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--kinda-grey);
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.socials {
	display: flex;
	gap: 1rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	padding: 1rem;
	width: 10rem;
}

.button:hover {
	outline: 2px dashed var(--kinda-grey);
}

.fa-brands {
	margin-right: 0.5rem;
}

#theme-toggle {
	float: right;
	cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 600px) {
	body {
		padding: 5vw 5vw;
	}
	header {
		max-width: 100%;
	}
	footer {
		text-align: center;
	}
}
